@{
  Layout = "_Layout";
}
<br>
<div class="w3-container w3-middle">
  <div class="w3-container" align="center">
    <h1>To Do List</h1>
    <br>
    <form action="/items" method="post">
      <label for="new-description">Item description:</label>
      <input id="new-description" name="new-description" type="text">
      <label for="new-duedate">Item Due Date:</label>
      <input id="new-duedate" name="new-duedate" type="datetime">
      <label for="category">Category: </label>
      <input id="category" name="category" type="text">
      <button type="submit">Submit</button>
    </form>
    <br>
    <p><a href="/items">Back to list.</a></p>
  </div>
</div>
