@{
  Layout = "_Layout";
}

<div class="w3-container" align="center">
  <h1>Your list has been cleared!</h1>
  <div class="w3-container">
    <p><a href="/items/new">Add an item.</a></p>
  </div>
</div>
